<script src="/javascripts/network.js"></script>

<div class="clearfix">
  <ul class="nav nav-tabs">
    <li><a href="/setup">Basic Setup</a></li>
    <li class="active"><a href="/netconfig">Network Settings</a></li>
    <li><a href="/password">Configuration Password</a></li>
  </ul>
</div>

<div>

  <form method="post">
    <fieldset>
      <legend><span>Connection Type</span></legend>
      
      <div class="clearfix">
        <select id="connection_type" name="connection_type">
          <!--  list out our available connection methods as options set the html selected flag on the one that is currently selected in the config -->
          <% CONNECTION_METHODS.each do |cm| %>
            <option <%= cm==connection_method.class ? 'selected' : '' %> value="<%= cm.basename %>">
              <%= cm.description %>
            </option>
          <% end %> 
        </select>
      </div>

      <div id="connection">
        <div id="WiredConnection" class="clearfix">
          
          <div class="clearfix">
            <label for="WiredConnection_interface_name">Interface Name</label>
            <div class="input">
              <select id="interface_name" name="WiredConnection/interface_name">
                <!--  list out available interfaces and their MAC addresses - preselect one if there was one chosen in config -->
                <option value="">Auto Select</option>
                <% Bandshell::WiredConnection.interfaces.each do |iface| %>
                  <option <%= value_from(connection_method, :interface_name)==iface.name ? 'selected' : '' %> value="<%= iface.name %>">
                    <%= iface.name %> - <%= iface.mac %>
                  </option>
                <% end %>
              </select>
            </div>
          </div>

        </div>

        <div id="WirelessConnection" class="clearfix">
          <div class="row-fluid">
            <div class="span6">

              <div class="clearfix">
                <label for="WirelessConnection_interface_name">Interface Name</label>
                <div class="input">
                  <select id="interface_name" name="WirelessConnection/interface_name">
                    <!--  same as above but with the wireless interfaces -->
                    <option value="">Auto Select</option>
                    <% Bandshell::WirelessConnection.interfaces.each do |iface| %>
                      <option <%= value_from(connection_method, :interface_name) == iface.name ? 'selected' : '' %> value="<%= iface.name %>">
                        <%= iface.name %> - <%= iface.mac %>
                      </option>
                    <% end %>
                  </select>
                </div>
              </div>

            </div>
            <div class="span6">
              
              <div class="clearfix">
                <label for="WirelessConnection_ssid">SSID</label>
                <div class="input">
                  <input name="WirelessConnection/ssid" type="text" class="fillWidth" value="<%= value_from(connection_method, :ssid) %>"></input>
                </div>
              </div>

            </div>
          </div>

        </div>
      </div>
    </fieldset>

    <fieldset>
      <legend><span>IP Address</span></legend>

      <div class="clearfix">
        <select id="addressing_type" name="addressing_type">
          <% ADDRESSING_METHODS.each do |am| %>
            <option <%= am==addressing_method.class ? 'selected' : '' %> value="<%= am.basename %>">
              <%= am.description %>
            </option>
          <% end %>
        </select>
      </div>

      <div id="address">
        <div id="DHCPAddressing" class="clearfix"></div>
        <div id="StaticAddressing" class="clearfix">
          <div class="row-fluid">
            <div class="span6">
              
              <div class="clearfix">
                <label for="StaticAddressing_address">Address</label>
                <div class="input">
                  <input name="StaticAddressing/address" type="text" class="fillWidth" value="<%= value_from(addressing_method, :address) %>"></input>
                </div>
              </div>

              <div class="clearfix">
                <label for="StaticAddressing_netmask">Netmask</label>
                <div class="input">
                  <input name="StaticAddressing/netmask" type="text" class="fillWidth" value="<%= value_from(addressing_method, :netmask) %>"></input>
                </div>
              </div>

            </div><!-- end .span6 -->
            <div class="span6">
              
              <div class="clearfix">
                <label for="StaticAddressing_gateway">Gateway</label>
                <div class="input">
                  <input name="StaticAddressing/gateway" type="text" class="fillWidth" value="<%= value_from(addressing_method, :gateway) %>"></input>
                </div>
              </div>

              <div class="clearfix">
                <label for="StaticAddressing_address">Nameservers (separate with commas or spaces)</label>
                <div class="input">
                  <input name="StaticAddressing/nameservers_flat" type="text" class="fillWidth" value="<%= value_from(addressing_method, :nameservers_flat) %>"></input>
                </div>
              </div>

            </div><!-- end .span6 -->

          </div><!-- end .row-fluid -->

        </div>
      </div>
    </fieldset>

    <div class="default-padding" style="padding: 18px;">
      <input type="submit" class="btn btn-primary"></input>
    </div>

  </form>
</div>