<h1>System Information</h1>
<p>System Uptime: <%= Uptime.uptime %></p>
<p>System Processes:</p>
<ul>
  <% for p in @proctable %>
    <li>
      <b>
        <%= p.comm %>
      </b>
      (PID <%= p.pid.to_s %>)
    </li>
  <% end %>
</ul>

<h1>Player Configuration</h1>
<p>
Screen Name:
  <%= player_info.screen_name %>
</p>

<h1>Display Status</h1>
<p>Screen on/off rules:</p>
<pre>
  <%= JSON.pretty_generate(@on_off_rules) %>
</pre>
<p>
  Time Zone:
  <%= player_info.timezone.nil? ? "Not set" : player_info.timezone %>
</p>
<p>
  Screen scheduled state: 
  <%= player_info.screen_scheduled_on? ? "On" : "Off" %>
</p>
<p>
  Screen control availability:
  <% avail, msg = Bandshell::ScreenControl.control_availability %>
  <% if avail %>
    Available
  <% else %>
    Not available:<br/>
    <%= msg %>
  <% end %>
</p>
<p>
  Screen actual state:
  <%= Bandshell::ScreenControl.screen_is_on? ? "On" : "Off" %>
</p>
