<% unless @errors.nil? %>
  <% @errors.each do |error| %>
    <p style="color:red">
      <%= error %>
    </p>
  <% end %>
<% end %>

<%= erb(:navbar, :layout => false) %>

<div class="default-padding">
  <% if @url.empty? %>
    <h3>We need the URL of your Concerto instance before we can get up and running.</h3>
  <% else %>
    <h3>Current Concerto Server Address: <a href="<%=@url%>"><%= @url%></a></h3>
  <% end %>
  <br />

  <form method="post">
    <fieldset style="padding: 0px;">
      <div class="row-fluid">
        <div class="span10">
          <input id="url" name="url" placeholder="Enter URL (e.g. http://10.0.0.1)" class="fillWidth" style="margin-bottom: 6px;" type="text" value="<%= @url %>" />
        </div>
        <div class="span2">
          <input type="submit" class="btn large btn-primary" value="Get Started" />
        </div>
      </div>
    </fieldset>
  </form>

  <br />

  <div class="alert alert-block alert-zero">
    <table style="margin: 0px;" cellpadding="0" cellspacing="0" border="0">
      <tbody>
        <tr>
          <td><p>IP Address:</p></td>
          <td><p><b class="pronounced"><%= my_ip %></b></p></td>
        </tr>
        <% unless Bandshell::ConfigStore.config_exists?('password')%>
          <tr>
            <td><p>Default Username:</p></td>
            <td><p><b class="pronounced">root</b></p></td>
          </tr>
          <tr>
            <td><p>Default Password:</p></td>
            <td><p><b class="pronounced">default</b></p></td>
          </tr>
        <% end %>
        <tr>
          <td><p>Access this page with URL:</p></td>
          <td><p><b class="pronounced"><a href="http://<%= my_ip %>:<%= my_port %>/setup">http://<%= my_ip %>:<%= my_port %>/setup</a></b></p></td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
