<% unless @errors.nil? %>
  <% @errors.each do |error| %>
    <p style="color:red">
      <%= error %>
    </p>
  <% end %>
<% end %>

<h3 class="center">We need the URL of your Concerto instance before we can get up and running.</h3>

<form method="post">
  <fieldset style="padding-left: 20px; padding-top: 0px;">
    <div class="clearfix">
      <label for="url">URL</label>
      <div class="input">
        <input id="url" name="url" class="input-xxlarge" type="text" value="<%= @url %>" /> <input type="submit" class="btn" value="Here it is!" />
      </div>
    </div>
  </fieldset>
</form>

<br /><br />
<p>
  The IPv4 address of this screen appears to be:
  <%= my_ip %>
</p>
<p>
  <p>This page can be accessed remotely via http://<%= my_ip %>:<%= my_port %>/setup</p>
</p>
<p>
  Username is root, default password is 'default'.
</p>
<p>
  Also, you may want to
  <a href="/netconfig">change network settings</a>
  or
  <a href="/password">change the configuration password.</a>
</p>